* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #f9fafb;
  color: #6b7280;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}