/* Tailwind disabled for build test */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: #f9fafb;
  color: #111827;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}